/*
 * A global CSS file used by all pages #74DE21
 */

 :root {
     --primary: #8B21DE;
     --secondary: #6acc1f;
     --background: rgb(219, 219, 219);
     --background2: whitesmoke;
     --text: black;
     --icon: black;
     --form: whitesmoke;
     --highlight: rgb(180, 180, 180);
     --border: rgb(180, 180, 180);
     --link: dodgerblue;
 }

/* ###################### CSS IDS ###################### */
#overlayRegister {
    display: none;
}

#overlayLogin {
    display: none;
}

#overlayTopic {
    display: none;
}

#inputFields {
    text-align: center;
}

#forumHierarchy {
    color: var(--text);
    vertical-align: middle;
    margin: 20px;
    font-size: 30px;
}
/* ##################################################### */



/* ###################### ELEMENTS ##################### */
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, small {
    color: var(--text);
}

/* For links */
a {
    color: var(--link);
    cursor: pointer;
}

hr {
    border: 2px solid #929292;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

input[type=text],
input[type=password] {
    background-color: rgb(224, 224, 224);
    display: inline-block;
    border: none;
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 22px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(207, 207, 207);
    outline: none;
}
/* ##################################################### */



/* #################### CSS CLASSES #################### */
/* Use this class to apply the overlaying effect */
.overlay {
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.forumsContainer {
    background-color: var(--background2);
    border: 5px solid var(--border);
    border-radius: 25px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.searchField {
    background-color: var(--form);
    vertical-align: middle;
    border: none;
    width: auto;
    margin: 5px;
    padding: 10px;
}

.searchLabel {
    color: var(--icon);
    vertical-align: middle;
    margin: 5px;
}

.centerDiv {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exitOverlayButton {
    color: var(--icon);
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    padding: 15px;
    opacity: 0.85;
}

.exitOverlayButton:active,
.exitOverlayButton:hover {
    opacity: 1;
}

.blackbarContainer {
    background-color: var(--background2);
    text-align: right;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.blackbarButtons {
    color: var(--text);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
    opacity: 0.85;
}

.blackbarButtons:active,
.blackbarButtons:hover {
    background-color: rgba(190, 190, 190, 0.25);
    border-radius: 20px;
    opacity: 1;
}

.forumHierarchyButton {
    color: var(--icon);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.btn {
    background-color: var(--secondary);
    color: var(--text);
    vertical-align: middle;
    cursor: pointer;
    margin: 2px;
    padding: 10px;
    opacity: 0.85;
}

.btn:active,
.btn:hover {
    opacity: 1;
}

.formBtn {
    background-color: var(--primary);
    color: white;
    width: 100%;
    padding: 20px;
    opacity: 0.9;
    cursor: pointer;
}

.formBtn:active,
.formBtn:hover {
    opacity: 1;
}

.formBtnCancel {
    background-color: transparent;
    color: var(--text);
    width: 100%;
    padding: 20px;
    opacity: 0.9;
    cursor: pointer;
}

.formBtnCancel:active,
.formBtnCancel:hover {
    opacity: 1;
}

.flex-container-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ##################################################### */