<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Resources/Images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css') }}">
    <title>Claims</title>
</head>

<body>
    <div>
        <h1 class="error">Error 403: Forbidden Page</h1>
        <p class="description">You are not authorized to access this page.</p>
        <p class="description"><a href="/">Homepage</a></p>
    </div>
</body>

<style>
    .error {
        color: var(--text);
        font-size: 70px;
        text-align: center;
    }

    .description {
        color: var(--text);
        font-size: 25px;
        text-align: center;
    }
</style>

</html>