<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Resources/Images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='Scripts/global.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{% block title %}Topic: {{ topicName }}{% endblock %}</title>
</head>

<body
    onload="load(`{{ url_for('static', filename='Templates/RegisterForm.html') }}`, `{{ url_for('static', filename='Templates/LoginForm.html') }}`, `{{ url_for('static', filename='Templates/MessageBoxes.html') }}`)">
    <!-- Navigation Bar -->
    <div class="navigationContainer">
        <button id="homeBtn" style="float: left;" onclick="location.href='/'" class="navigationBtn"><i
                class="fa fa-home fa-lg" aria-hidden="true"></i></button>
        {% if user.Admin == True %}
        <button id="adminBtn" style="float: left;" onclick="location.href='/adminpanel'" class="navigationBtn"><b>Admin
                Panel</b></button>
        <button id="adminBtn" style="float: left;" onclick="location.href='/userpanel'" class="navigationBtn"><b>User
                Panel</b></button>
        {% endif %}
        {% if user.Username != "NULL" %}
        <span style="color: var(--text);">Hello, <b>{{ user.Username }}</b>!</span>
        {% endif %}
        {% if user.LoggedIn == True %}
        <button id="logoutBtn" style="display: inline-block;" onclick="location.href='/signout'"
            class="navigationBtn"><i class="fa fa-sign-out navigationBtnIcon"
                aria-hidden="true"></i><b>Logout</b></button>
        {% else %}
        <button id="registerBtn" style="display: inline-block;" onclick="overlayOn('overlayRegister')"
            class="navigationBtn"><i class="fa fa-user-plus navigationBtnIcon"
                aria-hidden="true"></i><b>Register</b></button>
        <button id="loginBtn" style="display: inline-block;" onclick="overlayOn('overlayLogin')"
            class="navigationBtn"><i class="fa fa-sign-in navigationBtnIcon"
                aria-hidden="true"></i><b>Login</b></button>
        {% endif %}
    </div>

    <div id="mainContainer">
        <!-- Register & Login Forms -->
        <div id="registerContainer"></div>
        <div id="loginContainer"></div>
        <div id="messageBoxContainer"></div>

        <!-- Claim Relations -->
        <div id="overlayRelatedClaims" class="overlay">
            <div id="overlayRelatedClaims-container" class="centerDiv relatedClaimsContainer">
                <div class="flex-container-space-between">
                    <h1>Related Claims</h1>
                    <button onclick="overlayOff('overlayRelatedClaims'); clearRelations();" class="exitOverlayButton"><i
                            class="fa fa-times fa-2x" aria-hidden="true"></i></button>
                </div>
                <div class="claimRelationsContainer grid-container-relations">
                    <span style="color: white;" class="grid-content-center"><b>Opposed</b></span>
                    <span></span>
                    <span style="color: white;" class="grid-content-center"><b>Equivalent</b></span>
                </div>
                <div style="text-align: left;" class="grid-container-relations">
                    <div id="overlayRelatedClaims-opposed"></div>
                    <div style="display: flex;">
                        <hr>
                    </div>
                    <div id="overlayRelatedClaims-equivalent"></div>
                </div>
            </div>
        </div>

        <div class="forumsContainer">
            <div id="forumHierarchy" class="flex-container-space-between">
                <div>
                    <button id="homeBtn" onclick="location.href='/'" class="forumHierarchyButton">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    </button>
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span>{{ topicName }}</span>
                </div>
                <div>
                    {% if user.LoggedIn == True %}
                    <button class="btn" onclick="location.href='/{{ topicId }}/new/claim'">New Claim</button>
                    {% endif %}
                </div>
            </div>

            <!-- Claims -->
            <div class="topicContainerTitle grid-container-claims">
                <span style="color: white; margin-left: 70px;"><b>Claim</b></span>
                <span style="color: white;" class="grid-content-center"><b>Related Claims</b></span>
                <span style="color: white;" class="grid-content-center"><b>Updated At</b></span>
                <span style="color: white;" class="grid-content-center"><b>Poster</b></span>
            </div>

            {% for claim in claims %}
            <div>
                <hr>
                <div class="grid-container-claims">
                    <div title="View Claim" onclick="location.href='/{{ topicId }}/{{ claim.Id }}'"
                        class="claimContainer">
                        <span class="claimText"><i class="fa fa-comment fa-2x claimIcon" aria-hidden="true"></i>{{
                            claim.Text }}</span>
                    </div>
                    <div class="grid-content-center">
                        <button id="relatedClaimsBtn" title="View Related Claims"
                            onclick="overlayOn('overlayRelatedClaims'); loadRelatedClaims('{{ claim.Id }}','{{ topicId }}')"
                            style="color: var(--primary);" class="transBtn"><i class="fa fa-comments fa-2x"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="grid-content-center">
                        <span>{{ claim.UpdatedAt }}</span>
                    </div>
                    <div class="grid-content-center">
                        <span>By <b>{{ claim.Username }}</b></span>
                    </div>
                    {% if user.Admin == True %}
                    <div class="grid-content-center">
                        <form action="/delete/topic/{{ topicId }}/claim/{{ claim.Id }}" method="POST">
                            <button title="Delete Claim" type="submit" class="transBtn"><i style="color: var(--remove);"
                                    class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<style>
    .relatedClaimsContainer {
        background-color: var(--background2);
        border: 3px solid var(--border);
        padding: 20px;
        width: 75%;
        text-align: center;
    }

    .claimRelationsContainer {
        background-color: var(--third);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .claimContainer {
        margin: 10px 0 10px 10px;
        cursor: pointer;
    }

    .claimContainer:active,
    .claimContainer:hover {
        background-color: var(--highlight);
        box-shadow: 0 0 10px 10px var(--highlight);
        border-radius: 30px;
    }

    .claimIcon {
        color: var(--primary);
        vertical-align: middle;
        margin-left: 40px;
        margin-right: 20px;
    }

    .claimText {
        color: var(--text);
        padding: 10px;
        margin-right: 10px;
        font-size: 25px;
        vertical-align: middle;
    }
</style>

</html>