<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Resources/Images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='Scripts/global.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{% block title %}Claim: {{ claim.Username }}{% endblock %}</title>
</head>

<script>
    function showReplyForm(id) {
        $('#' + id).show();
        $('#' + id)[0].scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });
    }

    function hideReplyForm(id) {
        $('#' + id).hide();
    }

    function moveTo(id) {
        $('#' + id)[0].scrollIntoView({
            behavior: 'smooth',
            block: 'start',
        });
        var shadow = $('#' + id).css('box-shadow');
        $('#' + id).css('box-shadow', '0 0 10px 10px var(--secondary)');
        setTimeout(() => {
            $('#' + id).css('box-shadow', shadow)
        }, 2000);
    }
</script>

<body
    onload="load(`{{ url_for('static', filename='Templates/RegisterForm.html') }}`, `{{ url_for('static', filename='Templates/LoginForm.html') }}`, `{{ url_for('static', filename='Templates/MessageBoxes.html') }}`)">
    <!-- Navigation Bar -->
    <div class="navigationContainer">
        <button id="homeBtn" style="float: left;" onclick="location.href='/'" class="navigationBtn"><i
                class="fa fa-home fa-lg" aria-hidden="true"></i></button>
        {% if user.Admin == True %}
        <button id="adminBtn" style="float: left;" onclick="location.href='/adminpanel'" class="navigationBtn"><b>Admin
                Panel</b></button>
        <button id="adminBtn" style="float: left;" onclick="location.href='/userpanel'" class="navigationBtn"><b>User
                Panel</b></button>
        {% endif %}
        {% if user.Username != "NULL" %}
        <span style="color: var(--text);">Hello, <b>{{ user.Username }}</b>!</span>
        {% endif %}
        {% if user.LoggedIn == True %}
        <button id="logoutBtn" style="display: inline-block;" onclick="location.href='/signout'"
            class="navigationBtn"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>
        {% else %}
        <button id="registerBtn" style="display: inline-block;" onclick="overlayOn('overlayRegister')"
            class="navigationBtn"><b>Register</b></button>
        <button id="loginBtn" style="display: inline-block;" onclick="overlayOn('overlayLogin')"
            class="navigationBtn"><b>Login</b></button>
        {% endif %}
    </div>

    <!-- Register & Login Forms -->
    <div id="registerContainer"></div>
    <div id="loginContainer"></div>

    <div class="forumsContainer">
        <!-- Hierarchy -->
        <div id="forumHierarchy" class="flex-container-space-between">
            <div>
                <button id="homeBtn" onclick="location.href='/'" class="forumHierarchyButton">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                </button>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span style="cursor: pointer;" onclick="location.href='/{{ topic.TopicId }}'">{{ topic.TopicName
                    }}</span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <span>{{ claim.Username }}</span>
            </div>
            <div style="background-color: var(primary); border-radius: 15px; padding: 10px;">
                {% if user.LoggedIn == True %}
                {% if user.Admin == True %}
                <form style="display: inline-block;" method="POST">
                    <button type="submit" formaction="/delete/topic/{{ topic.TopicId }}/claim/{{ claim.ClaimId }}"
                        id="deleteClaim" class="btn"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                </form>
                <button onclick="overlayOn('overlayTopicList')" id="moveClaim" class="btn"><i class="fa fa-arrows fa-lg"
                        aria-hidden="true"></i></button>
                <div id="overlayTopicList" class="overlay">
                    <form action="/move/claim/{{ claim.ClaimId }}" method="POST"
                        onreset="overlayOff('overlayTopicList')">
                        <button type="reset" class="exitOverlayButton"
                            style="background-color: var(--primary); color: var(--icon2);"><i class="fa fa-times fa-2x"
                                aria-hidden="true"></i></button>
                        <div class="centerDiv moveClaimContainer">
                            <label style="font-size: 20px; margin: 5px;" for="newTopicId">Move Claim To:</label><br>
                            <select name="newTopicId" id="newTopicId" style="padding: 10px; margin: 10px;" required>
                                <option value="" disabled hidden selected="selected">None</option>
                                {% for t in topicList %}
                                {% if t.Id|int() != topic.TopicId|int() %}
                                <option value="{{ t.Id }}">{{ t.Name }} [By {{ t.Creator }}]</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <button type="submit" class="formBtn">Confirm</button>
                        </div>
                    </form>
                </div>
                {% endif %}
                <button class="btn" onclick="moveTo('ReplyToClaimContainer')">Reply To Claim</button>
                {% endif %}
            </div>
        </div>

        <!-- Original Claim -->
        <!-- Make a mark to show easily who the OP is [CHANGE_NEEDED] -->
        <div id="{{ claim.ClaimId }}" class="grid-container">
            <div class="userInfo">
                <p><b>{{ claim.Username }}</b></p>
                <img class="userProfile" src="{{ url_for('static', filename='Resources/Images/default_user.png') }}">
                {% if claim.IsAdmin == True %}
                <br><br>
                <span class="adminLabel"><b>Admin</b></span>
                <br>
                {% endif %}
                <p>Join Date: {{ claim.JoinDate }}</p>
                <p>Posted: {{ claim.ClaimPostDate }}</p>
                <p>Total Posts: {{ claim.TotalPosts }}</p>
            </div>
            <div style="border-radius: 15px; width: auto;" class="claimTextContainer">
                <p class="claimText">{{ claim.ClaimText }}</p>
            </div>
        </div>

        <!-- Make a statistics bar [CHANGE_NEEDED] -->
        <div style="text-align: center;">
            <h2 class="statisticsTitle">Claim Statistics</h2>
            <div style="text-align: center;">
                <span class="statisticsText">Total Replies: <b>{{ replies|length }}</b></span>
                <br>
                <br>
                <span class="statisticsText">Last Updated: <b>{{ claim.LastUpdateTime }}</b></span>
            </div>
        </div>

        <!-- Replies -->
        {% for reply in replies %}
        <div id="reply_{{ reply.Id }}" style="margin-left: 30px; margin-top: 30px;" class="grid-container">
            <div class="userInfo">
                <p><b>{{ reply.Username }}</b></p>
                <img class="userProfile" src="{{ url_for('static', filename='Resources/Images/default_user.png') }}">
                {% if reply.IsAdmin == True %}
                <br><br>
                <span class="adminLabel"><b>Admin</b></span>
                <br>
                {% endif %}
                <p>Join Date:{{ reply.JoinDate }}</p>
                <p>Posted: {{ reply.ReplyPostDate }}</p>
                <p>Total Posts: {{ reply.TotalPosts }}</p>
            </div>
            <div style="border-radius: 15px; width: auto;" class="claimTextContainer">
                <div style="margin-bottom: 10px;" class="flex-container-space-between">
                    <div>
                        {% if reply.isReplyToReply == True %}
                        <span class="replyingTo">Replying To: <a onclick="moveTo('reply_{{ reply.ReplyingToId }}')">{{
                                reply.ReplyingToUsername }}</a></span>
                        {% else %}
                        <span class="replyingTo">Replying To: <a onclick="moveTo('{{ claim.ClaimId }}')">{{
                                claim.Username }}</a></span>
                        {% endif %}
                        {% if reply.ReplyType == "Clarification" %}
                        <span style="background-color: var(--replyTypeClarification);" class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% elif reply.ReplyType == "Supporting Argument" %}
                        <span style="background-color: var(--replyTypeSupportingArgument);" class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% elif reply.ReplyType == "Counterargument" %}
                        <span style="background-color: var(--replyTypeCounterargument); color: var(--text2);"
                            class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% elif reply.ReplyType == "Evidence" %}
                        <span style="background-color: var(--replyTypeEvidence);" class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% elif reply.ReplyType == "Support" %}
                        <span style="background-color: var(--replyTypeSupport); color: var(--text2);"
                            class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% elif reply.ReplyType == "Rebuttal" %}
                        <span style="background-color: var(--replyTypeRebuttal);" class="replyTypeLabel">{{
                            reply.ReplyType }}</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.LoggedIn == True %}
                        {% if user.Admin == True %}
                        <form action="/delete/topic/{{ topic.TopicId }}/claim/{{ claim.ClaimId }}/reply/{{ reply.Id }}"
                            method="POST" style="display: inline-block;">
                            <button id="deleteClaim" class="btn"><i class="fa fa-trash fa-lg"
                                    aria-hidden="true"></i></button>
                        </form>
                        {% if reply.isReplyToReply == False %}
                        <button onclick="overlayOn('overlayMoveReply')" id="moveReply" class="btn"><i
                                class="fa fa-arrows fa-lg" aria-hidden="true"></i></button>
                        <div id="overlayMoveReply" class="overlay">
                            <form action="/move/topic/{{ topic.TopicId }}/reply/{{ reply.Id }}" method="POST"
                                onreset="overlayOff('overlayMoveReply')">
                                <button type="reset" class="exitOverlayButton"
                                    style="background-color: var(--primary); color: var(--icon2);"><i
                                        class="fa fa-times fa-2x" aria-hidden="true"></i></button>
                                <div class="centerDiv moveClaimContainer">
                                    <label style="font-size: 20px; margin: 5px;" for="newClaimId">Move Reply
                                        To:</label><br>
                                    <select name="newClaimId" id="newClaimId" style="padding: 10px; margin: 10px;"
                                        required>
                                        <option value="" disabled hidden selected="selected">None</option>
                                        {% for cl in claimList %}
                                        {% if cl.Id|int() != claim.ClaimId|int() %}
                                        <option value="{{ cl.Id }}">{{ cl.Text }} [By {{ cl.Creator }}]</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="formBtn">Confirm</button>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                        <button class="btn" onclick="showReplyForm('replyTo_{{ reply.Id }}')">Reply</button>
                        {% endif %}
                    </div>
                </div>
                {% if reply.isReplyToReply == True %}
                <div class="quoteReply">{{ reply.ReplyingToText }}</div>
                {% endif %}
                {% if reply.Text|string() == "[REMOVED]" %}
                <p class="claimText" style="text-align: center;"><b>{{ reply.Text }}</b></p>
                {% else %}
                <p class="claimText">{{ reply.Text }}</p>
                {% endif %}
            </div>
        </div>
        <!-- Submit a Reply To a Reply Form -->
        <div id="replyTo_{{ reply.Id }}" class="replyToReplyContainer">
            <form action="/{{ topic.TopicId }}/{{ claim.ClaimId }}/new/reply/{{ reply.Id }}" method="POST">
                <div id="inputFields">
                    <textarea style="margin-top: 5px;" rows="10"
                        placeholder="You're replying to {{ reply.Username }}..." name="replyToReplyText"
                        id="replyToReplyText" required></textarea>
                </div>
                <div style="margin: 10px 25px 10px 25px;" class="flex-container-space-between">
                    <select style="padding: 5px;" name="replyToReplyType" id="replyToReplyType" required>
                        <option value="" disabled hidden selected="selected">Reply Type</option>
                        <option value="1">Evidence</option>
                        <option value="2">Support</option>
                        <option value="3">Rebuttal</option>
                    </select>
                    <div>
                        <button style="width: auto; padding: 15px; background-color: transparent; border: none;"
                            type="reset" class="formBtnCancel" id="cancel"
                            onclick="hideReplyForm('replyTo_{{ reply.Id }}')">Cancel</button>
                        <button style="width: auto; padding: 15px;" type="submit" class="formBtn" id="continue">Submit
                            Reply</button>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}

        <!-- Reply To Claim Form -->
        {% if user.LoggedIn == True %}
        <hr style="margin: 30px;">
        <div style="padding: 5px;" id="ReplyToClaimContainer">
            <div id="forumHierarchy"><b>Your Reply</b></div>
            <form action="/{{ topic.TopicId }}/{{ claim.ClaimId }}/new/reply" method="POST">
                <div id="inputFields">
                    <textarea rows="10" placeholder="Your reply (minimum 15 characters)..." minlength="15"
                        name="replyToClaimText" id="replyToClaimText" required></textarea>
                </div>
                <div style="margin: 10px 30px 10px 30px;" class="flex-container-space-between">
                    <select style="padding: 5px;" name="replyToClaimType" id="replyToClaimType" required>
                        <option value="" disabled hidden selected="selected">Reply Type</option>
                        <option value="1">Clarification</option>
                        <option value="2">Supporting Argument</option>
                        <option value="3">Counterargument</option>
                    </select>
                    <button style="width: auto; padding: 15px;" type="submit" class="formBtn" id="formBtn">Submit
                        Reply</button>
                </div>
            </form>
        </div>
        {% endif %}

    </div>
</body>

<style>
    textarea {
        border: 3px solid black;
        resize: vertical;
        width: 95%;
        padding: 10px;
        border-radius: 10px;
    }

    .moveClaimContainer {
        background-color: var(--background2);
        padding: 20px;
        text-align: center;
        border: 3px solid var(--border);
    }

    .replyTypeLabel {
        color: var(--text);
        padding: 10px;
        margin-left: 10px;
        border-radius: 10px;
        overflow-wrap: break-word;
    }

    .quoteReply {
        color: var(--text);
        background-color: bisque;
        border-left: 7px solid rgb(231, 208, 179);
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .adminLabel {
        color: var(--text2);
        background-color: var(--admin);
        box-shadow: 0 0 5px 3px var(--admin);
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .userProfile {
        vertical-align: top;
        border: 5px solid var(--border);
        max-width: 75px;
        max-height: 75px;
        width: auto;
        height: auto;
    }

    .userInfo {
        color: var(--text);
        text-align: center;
        margin: 5px;
    }

    .claimTextContainer {
        border: 3px solid var(--border);
        vertical-align: top;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        width: 30%;
    }

    .claimText {
        color: var(--text);
        vertical-align: middle;
        margin: auto;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-size: 16px;
    }

    .replyingTo {
        color: var(--text);
        border: 3px solid var(--border);
        border-radius: 10px;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
        font-size: 20px;
    }

    .replyToReplyContainer {
        border-left: 3px solid var(--border);
        border-bottom: 3px solid var(--border);
        border-right: 3px solid var(--border);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        display: none;
        margin: auto;
        margin-bottom: 50px;
        width: 85%;
    }

    .statisticsTitle {
        width: auto;
        padding: 8px;
        border-radius: 20px;
    }

    .statisticsText {
        color: black;
        font-size: 20px;
    }

    .grid-container {
        border: 3px solid var(--border);
        display: grid;
        grid-template-columns: 20% 80%;
    }
</style>

</html>