<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Resources/Images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='Scripts/global.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Homepage</title>
</head>

<body
    onload="load(`{{ url_for('static', filename='Templates/RegisterForm.html') }}`, `{{ url_for('static', filename='Templates/LoginForm.html') }}`)">
    <!-- Navigation Bar -->
    <div class="navigationContainer">
        <button id="homeBtn" style="float: left;" onclick="location.href='/'" class="navigationBtn"><i
                class="fa fa-home fa-lg" aria-hidden="true"></i></button>
        {% if user.Admin == True %}
        <button id="adminBtn" style="float: left;" onclick="location.href='/adminpanel'" class="navigationBtn"><b>Admin
                Panel</b></button>
        {% endif %}
        {% if user.Username != "NULL" %}
        <span style="color: var(--text);">Hello, <b>{{ user.Username }}</b>!</span>
        {% endif %}
        {% if user.LoggedIn == True %}
        <button id="logoutBtn" style="display: inline-block;" onclick="location.href='/signout'"
            class="navigationBtn"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></button>
        {% else %}
        <button id="registerBtn" style="display: inline-block;" onclick="overlayOn('overlayRegister')"
            class="navigationBtn"><b>Register</b></button>
        <button id="loginBtn" style="display: inline-block;" onclick="overlayOn('overlayLogin')"
            class="navigationBtn"><b>Login</b></button>
        {% endif %}
    </div>

    <!-- Register & Login Forms -->
    <div id="registerContainer"></div>
    <div id="loginContainer"></div>

    <!--
    <div id="unknownErrorBox"
        style="display: none; color: white; background-color: red; padding: 15px; text-align: center;">
        <b>Uh oh. Something went wrong! Please try again in a few moments</b>
    </div>
    <div id="missingDataBox"
        style="display: none; color: white; background-color: red; padding: 15px; text-align: center;">
        <b>Not enough data</b>
    </div>

    <div id="accountSuccessBox"
        style="display: none; color: black; background-color: greenyellow; padding: 15px; text-align: center;">
        <b>Account Created!</b>
    </div>
    <div id="accountExistsBox"
        style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
        <b>Account with that username already exists!</b>
    </div>

    <div id="loginSuccessfulBox"
        style="display: none; color: black; background-color: greenyellow; padding: 15px; text-align: center;">
        <b>Login Successful!</b>
    </div>
    <div id="loginFailedPasswordBox"
        style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
        <b>Incorrect password</b>
    </div>
    <div id="loginFailedUsernameBox"
        style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
        <b>Account is not in our records</b>
    </div>
    -->

    <!-- Create Topic -->
    <div id="overlayTopic" class="overlay">
        <form id="createTopic" onsubmit="createTopic(event)" onreset="overlayOff('overlayTopic')">
            <div class="createTopicContainer centerDiv">
                <h1 style="display: inline-block;">Create Topic</h1>
                <button type="reset" class="exitOverlayButton"><i class="fa fa-times fa-2x"
                        aria-hidden="true"></i></button>
                <div id="inputFields">
                    <hr class="hrForm">
                    <input type="text" placeholder="Topic Name" name="topicName" id="topicName" required>
                    <hr class="hrForm">
                </div>
                <button type="submit" class="formBtn" id="formBtn">Create</button>
            </div>
        </form>
    </div>

    <!-- Logo -->
    <div class="logoContainer">
        <h1 style="vertical-align: middle;" class="logoTitle"><img style="vertical-align: middle;" width="300px"
                height="300px" src="{{ url_for('static', filename='Resources/Images/logo.png') }}" />FORUMS</h1>
    </div>

    <!-- Topics Section -->
    <div class="forumsContainer">
        <div class="flex-container-space-between">
            <div>
                <label class="searchLabel"><i class="fa fa-search" aria-hidden="true"></i></label>
                <input class="searchField" type="search" placeholder="Search..." id="search" />
            </div>
            {% if user.LoggedIn == True %}
            <button class="btn" onclick="overlayOn('overlayTopic')">New Topic</button>
            {% endif %}
        </div>
        <div class="topicContainerTitle grid-container-topics">
            <span style="color: white; margin-left: 70px;"><b>Topic</b></span>
            <span style="color: white;" class="grid-content-center"><b>Latest Claim</b></span>
            <span style="color: white;" class="grid-content-center"><b>Claims</b></span>
        </div>
        {% for topic in topics %}
        <div>
            <hr>
            <div class="grid-container-topics">
                <div onclick="location.href='/{{ topic.Id }}'" style="margin-left: 20px;"
                    class="topicContainer grid-content-middle">
                    <span class="topic"><i class="fa fa-comments-o fa-4x topicIcon" aria-hidden="true"></i>{{ topic.Name
                        }}</span>
                </div>
                <div style="font-size: 15px;" class="topic grid-content-center">
                    {% if topic.Claim.HasClaim == True %}
                    <div onclick="location.href='/{{ topic.Id }}/{{ topic.Claim.Id }}'"
                        style="display: grid; grid-template-columns: 20% 80%; justify-items: center; align-items: center; text-align: center;"
                        class="topicContainer">
                        <i style="margin-right: 10px; color: var(--primary);" class="fa fa-commenting-o fa-3x"
                            aria-hidden="true"></i>
                        <div>
                            <span>Claim By: <b>{{ topic.Claim.Username }}</b></span>
                            <br>
                            <span>Last Reply: <b>{{ topic.Claim.UpdatedAt }}</b></span>
                        </div>
                    </div>
                    {% else %}
                    <span>No Claims</span>
                    {% endif %}
                </div>
                <div class="grid-content-center">
                    <span>{{ topic.Claims }}</span>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</body>

<style>
    .createTopicContainer {
        background-color: var(--form);
        border: 2px solid whitesmoke;
        margin: 20px;
        padding: 30px;
        width: 25%;
    }

    .topicContainer {
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 5px 0 5px 0;
    }

    .topicContainer:active,
    .topicContainer:hover {
        background-color: var(--highlight);
        box-shadow: 0 0 10px 10px var(--highlight);
        border-radius: 30px;
    }

    .topicIcon {
        color: var(--primary);
        vertical-align: middle;
        margin-left: 40px;
        margin-right: 20px;
        font-size: 70px;
    }

    .topic {
        color: var(--text);
        font-size: 25px;
        vertical-align: middle;
    }

    .logoContainer {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logoTitle {
        margin: auto;
        text-align: center;
        font-size: 60px;
    }
</style>

</html>