<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <title>Login into your account</title>
</head>

<body>
    <form method="POST">
        <div class="loginContainer">
            <h1>Login</h1>
            <p>Please fill this form to login into your account.</p>

            <hr>
            <input type="username" placeholder="Username" id="username" required>
            <input type="password" placeholder="Password" id="password" required>
            <hr>

            <button type="submit" class="loginButton">Login</button>
        </div>
    </form>
</body>

<style>
    .loginContainer {
        background-color: rgb(36, 36, 36);
        border: 2px solid whitesmoke;
        margin: auto;
        margin-top: 25px;
        height: 100%;
        padding: 30px;
        width: 50%;
    }

    .loginButton {
        background-color: purple;
        color: white;
        width: 100%;
        padding: 20px;
        opacity: 0.85;
        cursor: pointer;
    }

    .loginButton:hover {
        opacity: 1;
    }

    label {
        color: white;
    }
</style>

</html>