<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Resources/Images/logo.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/global.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='Scripts/global.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Claims</title>
</head>

<body>
    <!-- Create Claim -->
    <div class="forumsContainer">
        <div id="forumHierarchy"><b>Posting at:</b> {{ topicName }}</div>
        <form action="/{{ topicId }}/{{ userId }}/new" method="POST">
            <div id="inputFields">
                <hr class="hrForm">
                <textarea rows="15" placeholder="Describe your claim (minimum 15 characters)..." minlength="15"
                    name="claimText" id="claimText" required></textarea>
                <hr class="hrForm">
            </div>
            <button type="submit" class="formBtn" id="formBtn">Submit Claim</button>
        </form>
    </div>
</body>

<style>
    textarea {
        border: 3px solid black;
        resize: vertical;
        width: 95%;
        padding: 10px;
        border-radius: 10px;
    }
</style>

</html>