<div id="unknownErrorBox"
    style="display: none; color: white; background-color: red; padding: 15px; text-align: center;">
    <b>Uh oh. Something went wrong! Please try again in a few moments</b>
</div>
<div id="missingDataBox" style="display: none; color: white; background-color: red; padding: 15px; text-align: center;">
    <b>Not enough data</b>
</div>
<div id="accountSuccessBox"
    style="display: none; color: black; background-color: greenyellow; padding: 15px; text-align: center;">
    <b>Account Created!</b>
</div>
<div id="accountExistsBox"
    style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
    <b>Account with that username already exists!</b>
</div>
<div id="loginSuccessfulBox"
    style="display: none; color: black; background-color: greenyellow; padding: 15px; text-align: center;">
    <b>Login Successful!</b>
</div>
<div id="loginFailedPasswordBox"
    style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
    <b>Incorrect password</b>
</div>
<div id="loginFailedUsernameBox"
    style="display: none; color: black; background-color: orange; padding: 15px; text-align: center;">
    <b>Account does not exists!</b>
</div>